@media screen and (max-width: 767px) {
    .res_hambarg {
        display: block;
        border: none;
        background: transparent;
        width: 30px;
        height: 30px;
        position: fixed;
        top: 15px;
        right: 15px;
    }
    .res_hambarg:focus{
        outline: none;
    }
    .res_hambarg span {
        width: 100%;
        height: 2px;
        background: #666;
        display: block;
        margin-bottom: 6px;
    }    
    .mainNav>ul {
        position: fixed;
        top: 57px;
        right: -300px;
        width: 300px;
        height:calc( 100vh - 57px);
        background: #0d67a6;
        flex-direction: column;
        overflow-y: auto;
        z-index: 6;
        transition: all 300ms ease-in-out;
        padding: 0 15px;
    }
    .mainNav>ul.show{
        right: 0;
    }
    header{
        padding: 8px 0;
        position: fixed;
        top: 0;
    }
    .mainNav>ul>li>a {
       display: block;
       width: 100%;
    }
    .mainNav>ul>li:not(:last-child) {
        margin-right: 0px;
        border-bottom: 1px solid #5285a9;
    }
    .mainNav>ul>li>a {
        color: #c6e2f6;
        font-weight: 500;
        padding: 10px;
        line-height: 1.8;
    }
   
    .subMenue ul {
        border-top: 1px solid #5285a9;
        border-bottom: 1px solid #5285a9;
        position: static;
        top: 100%;
        width: calc(100% - 30px);
        opacity: 1;
        visibility: visible;
        display: none;
        margin-left: 30px;
    }
    .subMenue ul li a:hover, .mainNav>ul>li>a:hover {
        color: #fff;
    }
    body{
        padding-top: 57px;
    }

  }
  @media screen and (max-width: 575px) {
    .topFooter [class*="col"]:not(:last-chid){
        margin-bottom: 20px;
    }
    .topFooter{
        padding: 15px 0;
    }
  }