@mixin transfrom($trnsfromtype, $friststVal, $secondval) {   
    @if $trnsfromtype == 'rotate' {
        -moz-transform: rotate($lefVal);
        -webkit-transform: rotate($lefVal);
        transform: rotate($lefVal);
    
       }@else {
           @if $trnsfromtype =="translate"{
               -moz-transform: translate($friststVal, $secondval);
               -webkit-transform: translate($friststVal, $secondval);
               transform: translate($friststVal, $secondval);
           }@else{
               @if $trnsfromtype =="skew"{
                   -moz-transform: skew($fristVal, $secondval);
                   -webkit-transform: skew($fristVal, $secondval);
                   transform: skew($fristVal, $secondval);
               }
           }
       }       
}